<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E Commerce Website</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="container">
        <div class="home">
            <div class="row">
                <div class="logo">
                    <a href="/"><img src="/Image/logo.png" alt="This is a logo image" class="logo"></a>
                </div>
                <div class="navbar">
                    <nav>
                        <ul>
                            <div class="box1" id="">
                                <li><a href="/">Home</a></li>
                                <li><a href="/templates/product.html">Products</a></li>
                                <li><a href="/templates/about.html">About</a></li>
                                <li><a href="/templates/contact.html">Contact Us</a></li>
                                <li><a href="/templates/account.html">account</a></li>
                            </div>
                            <li><a href="/templates/cart.html"><img src="/Image/cart.png" alt="This is card image" class="cart"></a></li>
                            <div class="container">
                                <img src="/Image/menu.png" alt="This is menu image" class="menu" onclick="menutoggle()">
                            </div>
                        </ul>
                    </nav>
                </div>
            </div>
            
            <div class="box">
                <ul id="menuItems">
                    <li><a href="/">Home</a></li>
                    <li><a href="/templates/product.html">Products</a></li>
                    <li><a href="/templates/about.html">About</a></li>
                    <li><a href="/templates/contact.html">Contact Us</a></li>
                    <li><a href="/templates/account.html">account</a></li>
                </ul>
            </div>
            <div class="row col-1">
                <div class="card">
                    <h1 class="pd-b">Rohitash Singh</h1>
                    <p class="pd-b">I am a software engineer and developer. I am pursuing B.Tech in CSE.I am a Machine learning and artificial intelligence Inthusiastic.

                    </p>
                    <button class="btn" ><a href="https://www.github.com/rohitashsingh89/">Know more about my qualification &rarr;</a></button>
                </div>

                <div class="card p-y">
                    <img src="/Image/image1.png" alt="This is atheletes image" class="image">
                </div>
            </div>
        </div>
    </div>
    <!-- JavaScript for menu icon -->
    <script src="/static/script.js"></script>


</body>
</html>